<!-- Carousel ================================================== -->
<%= render 'layouts/carousel' %>
<!-- /.carousel -->
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/140x140/#EEE8D5:#586E75" alt="Generic placeholder image" >
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/140x140/#EEE8D5:#586E75" alt="Generic placeholder image" >
      <h2>Heading</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/140x140/#EEE8D5:#586E75" alt="Generic placeholder image" >
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <hr class="featurette-divider">

  <div class="row">
    <div class="col-md-5">
      <h2 class="featurette-heading">My professional skills <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-7">
      <div id="diagram"></div>
      <div class="nav nav-pills legend">
        <ul>
          <li class="jq btn"><%= fa_icon 'circle', :style => 'color: #97BE0D;' %> JavaScript</li>
          <li class="css btn"><%= fa_icon 'circle', :style => 'color: #D84F5F;' %> CSS3</li>
          <li class="html btn"><%= fa_icon 'circle', :style => 'color: #88B8E6;' %> HTML5</li>
          <li class="php btn"><%= fa_icon 'circle', :style => 'color: #BEDBE9;' %> Ruby on Rails</li>
          <li class="sql btn"><%= fa_icon 'circle', :style => 'color: #EDEBEE;' %> MySQL</li>
        </ul> 
      </div>
    </div>
    <div class="get">
      <div class="arc">
        <span class="text">JavaScript</span>
        <input type="hidden" class="percent" value="95" />
        <input type="hidden" class="color" value="#97BE0D" />
      </div>
      <div class="arc">
        <span class="text">CSS3</span>
        <input type="hidden" class="percent" value="90" />
        <input type="hidden" class="color" value="#D84F5F" />
      </div>
      <div class="arc">
        <span class="text">HTML5</span>
        <input type="hidden" class="percent" value="80" />
        <input type="hidden" class="color" value="#88B8E6" />
      </div>
      <div class="arc">
        <span class="text">Ruby on Rails</span>
        <input type="hidden" class="percent" value="53" />
        <input type="hidden" class="color" value="#BEDBE9" />
      </div>
      <div class="arc">
        <span class="text">MySQL</span>
        <input type="hidden" class="percent" value="45" />
        <input type="hidden" class="color" value="#EDEBEE" />
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row">
    <div class="col-md-5">
      <div class="skills_bar">
        <h3>Linux</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
          </div>
        </div>
        <h3>Windows</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
        <h3>Virtual Machine</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
            <span class="sr-only">60% Complete (warning)</span>
          </div>
        </div>
        <h3>Database</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            <span class="sr-only">80% Complete (danger)</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">My professional skills <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row">
    <div class="col-md-5">
      <h2 class="visible-xs visible-sm text-primary">&lt;Here is what you get&gt;</h2>
      <ul class="visual-list">
        <li>
          <div class="img-holder">
            <%= image_tag "graph-04.svg", :width => 110, :alt => '' %>
          </div>
          <div class="text-holder">
            <h3>Created to Make A Better Web</h3>
            <p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. </p>
          </div>
        </li>
        <li>
          <div class="img-holder">
            <%= image_tag "graph-03.svg", :width => 90, :alt => '' %>
          </div>
          <div class="text-holder">
            <h3>Infinite Customization</h3>
            <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
          </div>
        </li>
        <li>
          <div class="img-holder">
            <%= image_tag "graph-02.svg", :height => 84, :alt => '' %>
          </div>
          <div class="text-holder">
            <h3>Experimental Features</h3>
            <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
          </div>
        </li>
        <li>
          <div class="img-holder">
            <%= image_tag "graph-01.svg", :height => 71, :alt => '' %>
          </div>
          <div class="text-holder">
            <h3>Time-Saving Power Tools</h3>
            <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-7">
      <div class="slide-holder scroll-effect-init scroll-effect-animate">
        <h2 class="hidden-xs hidden-sm text-primary">&lt;Here is what you get&gt;</h2>
        <div class="img-slide scroll-trigger">
        <%= image_tag "img-01.png", :width => 1184,:height => 624, :alt => '' %>
        </div>
      </div>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto/#EEE8D5:#586E75">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto/#EEE8D5:#586E75">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto/#EEE8D5:#586E75">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
</div>
