// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

$navbar-inverse-bg: #073642;


@import "*";
@import "**/*";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

.progress {
  background-color: #EEE8D5;
  border-radius: 32px;
}