// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.base-bg {
  background-color: #fdf6e3;
  color: #586e75;
}
#wrapper {
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden;
  table-layout: fixed; 
}
.teaserimage {
  height: 450px;
  position: relative;
  overflow: hidden;
  background-color: black;
  .teaserimage-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-indent: -9999px;
  }
}
ul.visual-list {
  margin: 0 -25px -40px -15px;
  padding: 28px 0;
  list-style: none;
  li {
    padding: 0 0 29px;
    .img-holder {
      float: left;
      width: 90px;
      text-align: center;
      margin: 7px 45px 0 0;
    }
    .text-holder {
      overflow: hidden;
      h3 {
        margin: 0 0 10px;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #B58900;
      }
      p {
        margin: 0 0 21px;
        font-size: 1.3rem;
      }
    }
  }
}
.slide-holder {
  padding: 0 0 0 65px; 
  .slide-holder .img-slide {
    position: relative;
    margin: 0 0 -140px; }
    .slide-holder .img-slide img {
      position: relative;
      top: 0;
      left: -20px; }
}
.get {
  display:none;
}
.legend {
  margin-top: -60px;
  ul {
    margin-left: 60px;
    padding: 0;
  }
}
.skills_bar {
  padding-right: 20px;
  padding-top: 30px;
  h3 {
    margin-top: 30px;
  }
}
/* See Blueprint http://tympanus.net/codrops/2013/07/18/on-scroll-effect-layout/ */
.scroll-effect-init .img-slide {
  transition: transform 1s; }

.scroll-effect-init .img-slide {
  transform: translateX(50px); }

.slide-holder.scroll-effect-animate .img-slide {
  transform: translateX(0px);
  opacity: 1; }


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  // color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  // width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #eee8d5;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-inner {
  .carousel-caption {
    color: #586E75;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    h1 {
      color: #B58900;
    }
  }
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
a.btn.btn-default {
  background-color: #EEE8D5;
  color: #586E75;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    // margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    // border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
    color: #B58900;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}