<footer>
  <div class="container">
    <p class="pull-right"><a id="scroll_up" class="btn btn-default" href="#" role="button"><%= fa_icon "chevron-up" %></a></p>
    <p>© 2015 <%= fa_icon "code" %> with <%= fa_icon "heart", :style => 'color: #D84F5F;' %> & <%= fa_icon "apple" %> in Australia by Nick Chow</p>
  </div>
</footer>